<h1>This is a list of YOUR REFERRALS DOC !</h1>

<h3>To:</h3>
<% @doctor.sent_referrals.each do | referral | %>
  <ul>
    <!-- <li><%= referral.patient_id%></li> -->
    <li><%= referral.referee.name %></li>
  </ul>
<% end %>

<h3>From:</h3>

<% @doctor.received_referrals.each do | referral | %>
  <ul>
    <li><%= referral.referrer.name %></li>
  </ul>
<% end %>
