<h1>This is a list of YOUR REFERRALS DOC !</h1>

<% @referrals.each do | referral | %>
  <ul>
    <!-- creating a link to /artist/:id       artist_path(artist.id) -->
    <!-- ie. artist.name link to artist show page -->
    <!-- <li><%= referral.patient_id%></li> -->
    <li><%= referral[:patient_id] %></li>
    <li><%= referral[:time] %></li>
  </ul>
<% end %>
