<h1>This is a list of YOUR REFERRALS DOC !</h1>

<h3>To:</h3>
<% @doctor.sent_referrals.each do | referral | %>
  <ul>
    <!-- <li><%= referral.patient_id%></li> -->
    <li><%= link_to "Referral to #{referral.referee.name}", show_referral_patients_path(referral.id) %></li>
  </ul>
<% end %>

<h3>From:</h3>

<% @doctor.received_referrals.each do | referral | %>
  <ul>
    <li><%= link_to "Referral from #{referral.referrer.name}", show_referral_patients_path(referral.id) %></li>
  </ul>
<% end %>
