<h1>SHOW THE CURRENT REFERRAL!</h1>


  <li>From: <%= @referral.referee.name %></li>
  <li>To: <%= @referral.referrer.name %></li>

  <li>For: <%= @referral.patient.name %></li>
  <li>When: <%= @referral.time %></li>
