@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Lobster|Raleway');

// font-family: 'Lobster', cursive;
// font-family: 'Raleway', sans-serif;
// font-family: 'Josefin Slab', serif;



/////////////////////////////// Show a referral///////////////////////////

.typeahead {
  padding: 5px 15px;
  width: 100%;
}

.ref-list-button {
  width: 150px;
}

textarea {
  margin-right: 7%;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 1.428571429;
  height: 34px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 1.428571429;
  height: 34px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.modal-content {
  background-color: #F8ECC2;
  pading-right: 10px;
}

.button-container-referral {
  text-align: center;
  margin-left: -3%;
}

#ref-number {
  font-size: 33px;
  font-family: 'Lobster', cursive;
  font-weight: 800;
  color: #337ab7;
}

#ref-modal {
  width: 120%;
}


.show-referral ul li {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  padding: 8px 0;
  text-align: center;
  margin-left: -8%;
}

.show-referral span {
  padding-right: 8px;
}

.show-referral textarea {
  margin-top: 23px;
  height: 120px;
  width: 90%;
}

#bloodhound {
  height: 120px;
  padding-top: 23px;
}

#bloodhound button {
  margin-top: 15px;
  margin-left: 1%;
  padding: 4px 32px;
}

#bloodhound input {
  height: 43px;
  text-align: center;
}


/////////////////////////////Create a new referral/////////////////////////

fieldset {
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.dropdown {
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.dropdown span {
  padding-right: 5px;
  padding-left: 5px;
}
#collect-select select {
  width: 180px;
}

#ref-patient select {
  width: 180px;

}

#ref-patientId select {
  width: 60px;
}

#collect-select {
  margin-left: 26.9%;
}

#submit-ref input {
  margin-left: 40%;
}

#ref-comments textarea {
  height: 300px;
}


//////////////////////Home page///////////////////////////

.mod-head {
  font-family: 'Lobster', cursive;
}

footer {
  background: #73aeff;
  position: absolute;
  bottom: -240px;
  text-align: center;
  width: 100%;
  height: 19%;
  padding-top: 50px;
}

.modal-title {
  font-size: 33px;
}

.login-content {
  width: 720px;
}

.login-form {
  display: flex;
  justify-content: space-around;
  padding-top: 18px;
}

.login-form label {
  padding-right: 5px;
}

.login-form fieldset input {
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 1.428571429;
  height: 34px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.list-group {
  width: 15%;
  margin-left: 42%;
  text-align: center;
}



.doc_sent {
  margin-left: 25%;
  margin-left: 49%;
  margin-bottom: 2%;
  margin-top: 8%;
}

.doc_received {
  padding-top: 23px;
  margin-bottom: 2%;
  margin-left: 48%;
}

.form-group {
  width: 50%;
  margin-left: 25%;
}

.form-control {
  font-size: 16px;
}

.fsubmit input {
  text-align: center;
  border: 1px solid transparent;
}

.button-delete {
  margin-left: 25%;
  margin-bottom: 5%;
}

body {
  background-color: #DBDBDB;
  font-size: 16px;
  // background-image: url('https://panexplore.com/wp-content/uploads/2015/02/exploring-mindset.jpg');
}

iframe {
  width: 100%;
  height: 80vh;
  display: none;
}

.patient-header h2 {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 50px;
}

.doctor-heading {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 50px;
}

.patient-nav {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 25px;
  padding-bottom: 50px;
  font-weight: 650;
}

.doctor-nav {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 25px;
  padding-bottom: 50px;
  font-weight: 650;
}

.patient-nav a {
  padding: 0 10px;
}

.doctor-nav a {
  padding: 0 10px;
}

.button-container {
  text-align: center;
  font-size: 18px;
}
.home-nav {
  text-align: center;
  font-size: 18px;
}

.home-nav a {
  color: black;
}


.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.bg {
  margin-bottom: 20px;
}
.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: cover;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

/* The styling for the static div. */
.static {
  background: #73aeff;
  // background-image: url('http://www.healthcarebusinesstech.com/wp-content/uploads/chomp05.jpg');
  background-size: 100%;
  // opacity: 0.5;
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
  background-image: url('https://i.imgur.com/4Hxlpgy.jpg');
}

.bg2::after {
  background-image: url('http://www.medicalwebdesigns.co.uk/images/medical-web-designs.jpg');
}


.button-container {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  position: absolute;
  top: 8%;
  left: 38%;
}

.scroll-down {
  display: block;
  text-decoration: none;
  position: absolute;
  width: 150px;
  bottom: 20px;
  left: 50%;
  margin-left: -75px;
  z-index: 5;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  color: #337ab7;
  box-sizing: border-box;
}

.about {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 45%;
  height: 80%;
  font-size: 17px;
  line-height: 2.2em;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;
}

#welcome {
  // transform: rotateX(-1deg);
  // position: absolute;
  // top: 50px;
  // left: 400px;
  font-size: 90px;
  padding-left: 8px;
  padding-bottom: 18px;
  font-family: 'Lobster', cursive;
  font-weight: 600;
  text-shadow: 2px 2px 4px #000000;
}
